.flight {
  &_container {
    background: #f1f1f1;
    border-radius: 20px;
    width: 75%;
    margin: 2rem auto;
    min-height: 15rem;

    display: grid;
    grid-template-columns: 35% 35% 30%;
    grid-template-rows: 70px 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      'ticket_header ticket_header ticket_header'
      'departureTicket departureTicket price'
      'arrivalTicket arrivalTicket price';

    .departureTicket {
      grid-area: departureTicket;
    }
    .arrivalTicket {
      grid-area: arrivalTicket;
    }

    .price {
      grid-area: price;
      &_container {
        display: flex;
      }
      .svg_container {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 5px;
        padding-left: 20px;

        .pair {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 15px;
        }
      }
    }

    .ticket_header {
      grid-area: ticket_header;
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 2rem;
      padding: 0 3rem;

      img {
        width: 180px; /* Замените на желаемый размер */
        height: 25px; /* Замените на желаемый размер */
      }
    }
  }

  &_wrapper {
    display: flex;
    padding-bottom: 1rem;
    width: 100%;
    justify-content: space-around;

    .departure-date {
      width: 10%;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    .flight-info {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: relative;
    }
    .departureSide {
      width: 35%;
    }
    .duration {
      width: 30%;
      display: flex;
      align-items: center;
      flex-direction: column;
      position: absolute;
      left: -55px;
      position: relative;

      &_time {
        position: absolute;
        top: -10px;
      }
      &_transfers {
        position: absolute;
        top: 20px;
      }
    }
    .arravalSide {
      width: 35%;
    }

    h5 {
      color: $gray;
      font-family: Roboto;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
    }

    p {
      color: $gray;
      font-family: Roboto;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
    }
  }
}
