.flight {
  &_container {
    background: $ticketContainer;
    border-radius: 20px;
    width: 75%;
    margin: 2rem auto;
    min-height: 15rem;

    display: grid;
    grid-template-columns: 35% 35% 30%;
    grid-template-rows: 70px 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      'ticket_header ticket_header ticket_header'
      'departureTicket departureTicket price'
      'arrivalTicket arrivalTicket price';

    .departureTicket {
      grid-area: departureTicket;
    }
    .arrivalTicket {
      grid-area: arrivalTicket;
    }

    .price {
      grid-area: price;
      &_container {
        display: flex;
      }
      .svg_container {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 5px;
        padding-left: 20px;
        width: 75%;

        .info-row {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 15px;
          max-height: 25px;
          img {
            width: 20px;
          }
        }
      }
      .priceBtn {
        display: inline-block;
        border-radius: 3px;
        margin-top: 1.6rem;
        padding: 0.5rem 0;
        text-align: center;
        cursor: pointer;
        border: 1px solid transparent;
        background: $black;
        color: #f1f1f1;
        font-family: Roboto;
        font-size: 18px;
        width: 100%;
        justify-self: center;
      }
    }

    .ticket_header {
      grid-area: ticket_header;
      width: 100%;
      margin-top: 1rem;
      padding: 0 3rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        max-height: 28px;
        max-width: 180px;
      }
    }
  }

  &_wrapper {
    display: flex;
    padding-bottom: 1rem;
    width: 100%;
    justify-content: space-around;

    .departure-date {
      width: 10%;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    .flight-info {
      width: 80%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      position: relative;
    }
    .departureSide {
      width: 35%;
    }
    .duration {
      width: 30%;
      display: flex;
      align-items: center;
      flex-direction: column;
      position: absolute;
      left: -55px;
      position: relative;

      &_time {
        position: absolute;
        top: -10px;
      }
      &_transfers {
        position: absolute;
        top: 20px;
      }
    }
    .arravalSide {
      width: 35%;
    }

    p {
      color: $gray;
      font-family: Roboto;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
    }
  }
}
.flightsNumber {
  position: absolute;
  left: 198px;
  top: 155px;
  font-size: 13px;
  color: #393939;
}
