@import 'variables';
@import 'normalize';
@import 'flight';
@import 'filteringPanel';

body {
  background: $backgroundColor;
  background-size: cover;
  background-blend-mode: multiply;
  background-attachment: fixed;
  font-size: 16px;
}
h2 {
  font-size: 18px;
  span {
    color: $gray;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    margin-left: 2px;
  }
}
h3 {
  color: $gray;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
}
